# Prerequisites
*.d
*.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folder
/OpenGL-Engine/x64/
/Libs/
/x64/
/.vs/

#Visual studio
*.sln
*.vcxproj
*.vcproj
*.pdb
*.user
.vscode/
*.filters
*.recipe
*.iobj
*.ipdb
*.tlog
*.lastbuildstate

